.channel-modal {
  width: 100vw;
  min-height: 100%;
  position: absolute;
  background: white;
  border: 1px solid black;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: black;
}

.channel-modal-form {
  height: 100%;
  text-align: left;
  width: 37%;
  margin: auto;
  margin-top: 140px;
}

.channel-modal-form-innerdiv {
  overflow-y: scroll;
  height: 100%;
  margin-top: 15px;
  padding-right: 15px;
}

.channel-modal-form-innerdiv::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.channel-modal-form-innerdiv::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: lightgray;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.modal-title {
  font-size: 35px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.channel-modal-form input {
  border: 1px solid #a0a0a2;
  border-radius: .25rem;
  cursor: text;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
}

.channel-modal-form input:focus {
  border: 1px solid black;
}

.channel-modal-form input:hover {
  border: 1px solid black;
}

.channel-modal-form { position: relative; }
.channel-modal-form input { text-indent: 25px;}
.channel-modal-form .fa-search {
  position: relative;
  top: 30px;
  left: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #a0a0a2;
}

.close-channel-modal {
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  padding: 5px 10px;
  right: 60px;
  color: #717274;
  top: 70px;
  cursor: pointer;
  border: 1px solid white;
}

.close-channel-modal:hover {
  background: #E8E8E8;
  border-radius: 50px;
  color: black;
}

.close-channel-modal:active {
  background: #2ea664;
}

.hidden {
  display: none;
}

.modal-button {
  width: 100%;
  height: 53px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  background: #2ea664;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-radius: .25rem;
  cursor: pointer;
  margin-top: 40px;
}

.modal-button:hover {
  box-shadow: inset 0 -2px rgba(0,0,0,.25);
}

.selected-users {
  display: flex;
  flex-wrap: wrap;
}

.selected-users li {
  padding: 4px 8px;
  background: #2d9ee0;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  font-size: 14px;
  margin-right: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.selected-users li span {
  opacity: 0.55;
  font-size: 12px;
  padding-left: 3px;
  -webkit-transition: all .3s ease;
}

.selected-users li:hover span {
  opacity: 1;
}

.go-button {
  width: 70px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  position: relative;
  left: 8vw;
}

.gray {
  background: #CDCECE;
}

.green {
  background: #35A566;
}

.title-and-button-dm-form {
  display: flex;
  margin: auto;
}

.user-list-li {
  height: 15px;
  border-top: 1px solid lightgray;
  padding: 25px 0;
  padding-left: 15px;
  display: block;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.user-list-li:hover {
  background: #EBF5FC;
  border: 1px solid #cbe7f7;
  border-radius: 6px;
}

.user-list-li:hover + li {
  border-top: none;
}

.user-list-li:last-child {
  border-bottom: 1px solid lightgray;
}

.browse-channel-li {
  height: 100%;
  border-top: 1px solid lightgray;
  padding: 20px 0;
  padding-left: 15px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.browse-channel-li span {
  font-size: 11px;
  font-weight: 500;
  color: gray;
  margin-top: 4px;
}

.browse-channel-li:hover + li {
  border-top: none;
}

.browse-channel-li:hover {
  background: #EBF5FC;
  border: 1px solid #cbe7f7;
  border-radius: 6px;
}

.browse-channel-li:last-child {
  border-bottom: 1px solid lightgray;
}

.browse-channels-usercount {
  display: block;
}
