.main-left-channel-list {
  height: 585px;
  color: rgb(202,196,201);
  font-weight: 400;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-left-channel-list a {
  color: rgb(202,196,201);
  text-decoration: none;
}

.main-left-channel-list h1 {
  padding-left: 15px;
  -webkit-transition: all .3s ease;
  display: flex;
  justify-content: space-between;
}

.main-left-channel-list ul {
  margin-top: 5px;
  width: 100%;
}

.main-left-channel-list > li {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
}

.fa-times {
  opacity: 0;
  -webkit-transition: all .3s ease;
  margin-right: 10px;
  padding-top: 4px;
  z-index: 6;
  cursor: pointer;
}

.channel-list-li {
  width: 100%;
  display: block;
  padding: 5px 0;
  padding-left: 15px;
  height: 100%;
  padding-right: 20px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.08em;
  line-height: 1.08em;
  position: relative;
  white-space: nowrap;
}

.channel-list-li span {
  color: #ab9ba9;
  font-size: 13px;
  padding-right: 2px;
  margin: auto 0;
}

.main-left-channel-list >li:hover {
  background: #3E323C;
}

.direct-message-li:hover {
  background: #3E323C;
}

.channel-li:hover {
  background: #3E323C;
}

.main-left-channel-list li:hover .fa-times {
  opacity: 1;
}

.main-left-channel-list h1:hover {
  color: white;
}

.plus-sign-create {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  margin-right: 15px;
}

.channels-header-thing {
  display: flex;
  justify-content: space-between;
}

.dm-channels {
  margin-top: 25px;
}

.direct-message-li {
  display: flex;
  justify-content: space-between;
}

.dm-remove-li {
  position: absolute;
  right: 2px;
}

.fa-times:hover {
  color: white;
}

.fa-plus-circle:hover {
  color: white;
}

.selected {
  background-color: #4F9589 !important;
  color: white !important;
}

.selected span {
  color: white !important;
}

.user-list-li:hover {
  background: purple;
}
