.channel-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: white;
  border: 1px solid black;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: black;
}

.channel-modal-form {
  text-align: left;
  width: 30%;
  margin: auto;
  margin-top: 175px;
}

.modal-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.channel-modal-form input {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  box-sizing: border-box;
}

.close-channel-modal {
  font-size: 40px;
  position: absolute;
  right: 100px;
  top: 70px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-button {
  width: 100%;
  height: 53px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  background: #2ea664;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-radius: .25rem;
  cursor: pointer;
  margin-top: 40px;
}
