.dropdown {
  width: 270px;
  z-index: 10;
  height: 300px;
  background-color: white;
  color: #2c2d30;
  position: absolute;
  top: 58px;
  left: 20px;
  border: 1px solid gray;
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
  border-radius: 6px;
  transition-delay: 1s;
}
