.main-left-header {
  height: 61px;
  cursor: pointer;
  padding-bottom: 2px;
}

.main-left-header:hover {
  background: #3E323C;
}

.main-left-header:hover .main-left-header-username {
  color: white;
}

.main-left-header:hover .main-left-header-title span {
  color: white;
}

.main-left-header-title {
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
  margin-left: 15px;
}

.main-left-header-title span {
  font-size: 11px;
  position: absolute;
  left: 135px;
  top: 14px;
  color: #ab9ba9;
}

.main-left-header-username-area {
  font-weight: 300;
  margin-left: 30px;
  margin-top: 4px;
}

.main-left-header-username {
  margin-left: 4px;
  color: #ab9ba9;
  font-size: .875rem;
  font-weight: 500;
}

.circle:before {
  content: ' \25CF';
  font-size: 26px;
  color: #38978d;
  position: absolute;
  top: 28px;
  left: 14px;
}

.example-enter {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .3s ease-out;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
