.mainleft {
  max-width: 215px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background: #4C3A4A;
  color: white;
  font-weight: 600;
  height: 100%;
  width: 20%;
  position: relative;
  flex: 1;
}
