.mainleft {
  display: flex;
  flex-direction: column;
  background: #4C3A4A;
  color: white;
  font-weight: 600;
  height: 100%;
  width: 220px;
  position: relative;
  flex: 1;
  flex-shrink: 0;
  min-width: 1px;
  max-width: 280px;
  box-sizing: content-box;
  flex-basis: 235px;
}
