
.splash-footer {
  height: 100px;
  width: 100%;
  display: flex;
}

.splash-footer ul {
  margin-left: 57%;
  margin-top: 45px;
}

.splash-footer li {
  display: inline;
  margin-right: 50px;
}

.splash-footer li a {
  color: gray;
  text-decoration: none;
  -webkit-transition: all .4s ease;
}

.splash-footer li a i {
  color: black;
  margin-right: 3px;
  -webkit-transition: all .4s ease;
}

.splash-footer li:hover i {
  color: lightblue;
}

.splash-footer li:hover a {
  color: lightblue;
}
