
.splash-footer {
  height: 150px;
  width: 100%;
}

.splash-footer li {
  display: inline;
  margin-right: 50px;
}

.splash-footer li a {
  color: gray;
  text-decoration: none;
}

.splash-footer li a i {
  color: black;
  margin-right: 3px;
}

.splash-footer ul {
  position: absolute;
  bottom: 60px;
  right: 230px;
}
