.mainchannelarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 100%;
}

.main-area {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-form {
  width: 96%;
  border: 2px solid rgba(160,160,162,.7);
  border-radius: .375rem;
  box-shadow: none;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 22px;
  height: 40px;
  min-width: 500px;
  justify-content: flex-end;
}

.message-form-actual {
  display: flex;
  height: 100%;
}

.message-form-actual input {
  height: 95%;
  font-size: 14px;
  padding-left: 10px;
  flex: 1;
  font-weight: 400;
  color: black;
}

.message-form-actual input::placeholder {
  font-weight: 300;
  color: gray;
}

.app-div {
  height: 100%;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}
