.main-header {
  display: flex;
  width: 100%;
  box-sizing: content-box;
}

.main-header-channel {
  font-size: 18px;
  font-weight: 700;
}

.header-and-user-count-box {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}

.fa-user-o {
  margin-right: 5px;
}

.fa-user-o:before {
  font-size: 11px;
}

.main-header-usercount {
  color: gray;
  padding-top: 5px;
}

.main-header-usercount span {
  font-size: 12px;
}
