.main-header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: inset 1px 0 0 0 #e8e8e8;
  padding-left: 2%;
  padding-top: 20px;
  padding-bottom: 14px;
  flex: 0 0 auto;
  justify-content: space-between;
}

.main-header-channel {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.header-and-user-count-box {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.fa-user-o {
  margin-right: 3px;
}

.fa-user-o:before {
  font-size: 11px;
}

.main-header-usercount {
  color: gray;
  padding-top: 1px;
  display: flex;
  cursor: pointer;
}

.main-header-usercount:hover {
  color: #0576b9;
}

.main-header-usercount span {
  font-size: 13px;
  padding-top: 3.5px;
}

.main-header-right-menubar {
  margin-right: 4%;
  margin-top: 1%;
}

.fa-info-circle {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}

.fa-info-circle:hover {
  color: #2d9ee0;
}
