.main-header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: inset 1px 0 0 0 #e8e8e8;
  padding-left: 2%;
  padding-top: 20px;
  padding-bottom: 14px;
  flex: 0 0 auto;
  justify-content: space-between;
}

.main-header-channel {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.header-and-user-count-box {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.fa-user-o {
  margin-right: 3px;
}

.fa-user-o:before {
  font-size: 11px;
}

.main-header-usercount {
  color: gray;
  padding-top: 1px;
  display: flex;
  cursor: pointer;
}

.main-header-usercount:hover {
  color: #0576b9;
}

.main-header-usercount span {
  font-size: 13px;
  padding-top: 3.5px;
}

.main-header-right-menubar {
  margin-right: 4%;
  margin-top: 1%;
}

.fa-info-circle {
  font-size: 25px;
  cursor: pointer;
  background-color: white;
}

.fa-info-circle:hover {
  color: #2d9ee0;
}

.user-menu {
  width: 17%;
  z-index: 100000;
  position: absolute;
  right: 7%;
  top: 30px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  padding: 20px 25px;
}

.user-menu h1 {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 15px;
}

.user-menu h3 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
}

.user-menu-innerdiv {
  height: 100%;
}

.fileInput {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 80%;
  margin-bottom: 10px;
}

.fileInputText {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin-bottom: 3px;
}

.fileInput:focus {
  border: 1px solid black;
}

.fileInputText:focus {
  border: 1px solid black;
}

.imgPreview {
  margin: 10px 0;
  width: 90%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.imgPreview img {
  width: 90%;
  height: 90%;
}

.previewText{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.submitButton{
  padding: 12px;
  background: white;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 10pt;
  color: white;
  cursor: pointer;
  background: #2ea664;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-radius: .25rem;
}

.submitButton:hover {
  box-shadow: inset 0 -2px rgba(0,0,0,.25);
}

.fa-cog  {
  font-size: 25px;
  cursor: pointer;
  background-color: white;
  padding-right: 15px;
}

.fa-cog:hover {
  color: #2d9ee0;
}
