.message-list {
  margin-bottom: 15px;
  padding-bottom: 5px;
  overflow-y: auto;
  height: 100%;
  scroll-behavior: smooth;
}

.message-list ul {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message-content-header-user {
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.message-content-header-user:hover {
  text-decoration: underline;
}

.message-list-item {
  display: flex;
  color: #2C2D30;
  padding-top: 4px;
  padding-bottom: 4px;
}

.message-list-item:hover {
  background: #F9F9F9;
}

.message-content-header-timestamp {
  color: #717274;
  font-size: 9px;
  height: 100%;
  margin-left: 5px;
}

.user-message-picture {
  width: 35px;
  height: 35px;
  margin-left: 30px;
  border-radius: 3px;
  margin-right: 6px;
  cursor: pointer;
}

.message-content-header {
  display: flex;
  flex-direction: column;
}

.message-body {
  padding-top: 5px;
  font-size: 13px;
}


.message-list-divider {
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  padding: 18px 0;
  font-size: 14px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.message-list-divider:before, .message-list-divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #e8e8e8;
}
.message-list-divider:before {
    margin-left: -50%;
    text-align: right;
    right: 57%;
}

.message-list-divider:after {
    left: 57%;
}
